#Portfolio {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}
#Portfolio a {
  text-decoration: none;
}

#project-ui {
  display: flex;
  width: 100%;
  height: 56%;
}
#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  height: 100%;
}
#button-container button {
  display: flex;
  justify-content: center;
  transform: translate(3%, 0); /*lazy*/
  background-color: rgba(51, 185, 185, 0.2);
  border: 0.5vh outset rgba(255, 255, 255, 0.5);
  font-size: 90%;
  font-weight: bold;
  color: rgba(25, 88, 88, 0.75);
  margin: 0 2vw;
  width: 95%;
  transition: all 0.25s ease-in-out;
}
#button-container button:hover {
  background-color: rgba(51, 185, 185, 0.2);
  border: 0.5vh outset rgba(255, 255, 255, 0.5);
}
#button-container button:active {
  background-color: rgba(51, 185, 185, 0.3);
  border: 0.5vh inset rgba(255, 255, 255, 0.5);
}
#button-container button:focus {
  text-shadow: 0 0 0.5vh #d4ff4d, 0 0 1vh #d4ff4d;
}

#iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#nav-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 0.5vh solid #000000; */
  padding: 1vh 0;
  width: 69vw;
  height: 38vh;
  transition: all 0.5s ease-in-out;
}
#deploy-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00000000;
  background: #00000000;
  height: 50%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
#repo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00000000;
  background: #00000000;
  height: 50%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
/* RESIZE THESE NAV OVERLAYS */
#deploy-nav:hover,
#repo-nav:hover {
  animation: background-transition 0.5s ease-in-out forwards;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0.5vh #d4ff4d, 0 0 1vh #d4ff4d;
  font-size: 3vh;
  transition: all 0.5s ease-in-out;
}
@keyframes background-transition {
  0% {
    background: #00000000;
  }
  100% {
    background: #d4ff4dab 100%;
    /* background: #d4ff4d */
  }
}

#iframe-container iframe {
  /* border: 1vh inset rgb(202, 202, 202); */
  width: 100%;
  /* height: 37.5vh; */
  height: 95%;
  margin: 0 2.5%;
}

#project-info {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#summary {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#role,
#tools {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

#top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1vh;
  background-color: rgba(51, 185, 185, 0.2);
  color: rgba(25, 88, 88, 0.644);
  font-size: 2.3vh;
  border: 2px ridge rgba(25, 88, 88, 0.4);
}

#bottom {
  display: relative;
  margin: 1%;
  height: 100%;
  font-size: 100%;
  font-weight: 400;
}

#summary {
  height: 100%;
  font-size: 100%;
  padding: 1vh;
}
#role,
#tools {
  height: 100%;
  padding: 1vh;
  font-size: 100%;
}

#row { /* Rename this to something other than row */
  display: flex;
  width: 100%;
  height: 37.5vh;
}
#col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
