#About {
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
}

#About #title {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#img-div{
  border: 1px ridge rgba(51, 185, 185, 0.15);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: fit-content;
  height: min-content;
  background-color: rgba(51, 185, 185, 0.055);
}

#About img {
  height: 17vh;
  width: 17vh;
  border-radius: 50%;
  pointer-events: none;
  filter: drop-shadow(0 0 2px #FFFFFF )
}

#About p {
  text-align: center;
  height: min-content;
}

#uc-div {
  position: relative;
  flex-flow: row;
  width: fit-content;
  height: min-content;
  border-top: .7vmin dashed #d4ff4d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#uc-div p{
  width: 100%;
  height: min-content;
}
#uc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: url(#uc-gradient);
  width: 14vh;
  height: auto;
  filter: drop-shadow(0 0 2px #000000 )
}