#About {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  user-select: none;
  color: white;
  /* background: blue; */
  /* margin-top: 16vh; */
  min-height: 100%;
  overflow: visible;
  padding: 5vmin 10vmin;
}

#About .me {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

#About .fswb {
  position: absolute;
  text-shadow: 0.5px 0.5px 0.5px black; /*#d4ff4d*/
  font-size: 125%;
  font-weight: 100;
  bottom: -6%;
}
#About .img-div {
  display: flex;
  justify-content: center;
  height: 20vw;
  width: 20vw;
  max-width: 160px;
  max-height: 160px;
  overflow: hidden;
  bottom: 16vh;
}

#About img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: drop-shadow(0 0 3px white);
  opacity: 0.85;
}
#About p {
  text-align: center;
  height: min-content;
  font-weight: 200;
}