#Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.377);
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  background-image: radial-gradient(rgb(51, 185, 185) 0%, white 100%);
}
#card:hover {
  border: 1vh solid rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

#linkedin {
  fill: rgba(0, 0, 0, 0.75);
  height: 70%;
  width: 70%;
}

#linkedin:hover {
  fill: #c4ff4d;
  transition: all 0.5s ease;
}

#github {
  fill: rgba(0, 0, 0, 0.75);
  height: 80%;
  width: 80%;
}

#github:hover {
  fill: #c4ff4d;
  transition: all 0.5s ease;
}

#email {
  fill: rgba(0, 0, 0, 0.75);
  height: 70%;
  width: 70%;
  transform: translate(-10%, 5%);
}

#email:hover {
  fill: #c4ff4d;
  transition: all 0.5s ease;
}

#phone {
  fill: rgba(0, 0, 0, 0.75);
  height: 75%;
  width: 75%;
}

#phone:hover {
  fill: #c4ff4d;
  transition: all 0.5s ease;
}