header {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 100;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  padding: 1vh 3vh;
  opacity: 0.99;
  position: relative;
  z-index: 5;
  background-color: var(--p3);
  /* height: 12vh; */
}

.name-container {
  display: table;
  width: fit-content;
  background: var(--p3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: lighten;
}
.name {
  display: table-cell;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  height: fit-content;
  position: relative;
  /* user-select: none; */
  user-select: none;
}
.scanner {
  display: table-cell;
  position: absolute;
  visibility: hidden;
  top: 3%;
  height: 1px;
  width: 100%;
  border: 1px solid hsla(75, 100%, 65%, 0.5);
  filter: drop-shadow(0px 0px 5px var(--a12));
  user-select: none;
  transition: visibility 1000ms linear 60ms, top 1000ms linear 60ms;
  z-index: 3;
}
.jeff {
  display: table-cell;
  color: var(--s7);
  width: 100%;
  font-size: 400%;
  line-height: 0.75;
  font-weight: 100;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--s7);
  background-image: linear-gradient(var(--a12), var(--a12));
  background-size: 100% 0%;
  background-position: top;
  background-repeat: no-repeat;
  user-select: none;

  transition: 
  background-size 665ms linear 460ms, 
  filter 1000ms linear 420ms,
  text-shadow 1000ms linear 350ms;
}
.timson-container {
  position: relative;
  user-select: none;
  font-size: 272%;
  line-height: 0.75;
  font-weight: 100;
  width: 100%;
  color: rgba(0, 0, 0, 0);
}
.timson-overlay {
  color: var(--s6);
  /* width: 100%; */
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--s6);
  background-image: linear-gradient(var(--a10), var(--a10));
  background-size: 100% 0%;
  background-position: top;
  background-repeat: no-repeat;
  user-select: none;
  z-index: 2;
  transition: 
  background-size 216ms linear 300ms, 
  filter 850ms linear,
  text-shadow 850ms linear;
}
.timson-underlay {
  position: absolute;
  height: auto;
  position: absolute;
  bottom: 0;
  color: var(--s4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--s4);
  background-image: linear-gradient(var(--a8), var(--a8));
  background-size: 100% 0%;
  background-position: top;
  background-repeat: no-repeat;
  user-select: none;
  transition: 
  background-size 432ms linear 80ms,
  filter 700ms linear,
  text-shadow 700ms linear;
}
.name-container:hover .scanner {
  visibility: visible;
  top: 100%;
}
.name-container:hover .jeff {
  transition: 
  background-size 665ms linear, 
  filter 665ms linear,
  text-shadow 665ms linear;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  filter: drop-shadow(0 0 0.25vh rgb(247, 255, 128));
  text-shadow: 0px 0px 0.001vh var(--p1);  
}

.name-container:hover .timson-overlay {
  transition: 
  background-size 216ms linear 600ms, 
  filter 500ms linear 600ms,
  text-shadow 500ms linear 600ms;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  filter: drop-shadow(0 0 0.25vh rgba(247, 255, 128, 0)); /* need to hide or it doubles up */
  text-shadow: 0px 0px 0.001vh var(--p1);  
}
.name-container:hover .timson-underlay {
  transition: 
  background-size 432ms linear 600ms,
  filter 500ms linear 600ms,
  text-shadow 500ms linear 600ms;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  filter: drop-shadow(0 0 0.25vh rgb(247, 255, 128));
  text-shadow: 0px 0px 0.001vh var(--p1);  
}

nav {
  display: flex;
  user-select: none;
  /* color: var(--s6); */
  width: 100%;
  height: 100%;
  padding-left: 2vh;
  flex-grow: 1;
  /* padding: 1vh 0vh; */
  transition: fill 600ms linear, height 600ms ease, width 600ms ease;
  font-weight: 100;
}
nav ul {
  display: flex;
  flex-grow: 1;
  flex-flow: row;
  width: 100%;
  height: 100%;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;
}
nav li {
  transition: all 300ms ease;
  height: fit-content;
  text-align: right;
  will-change: fill, transform;
  filter: drop-shadow(0px 0px 0.2vh var(--s10));
  text-shadow: 0 0 1px black;
  transition: color 300ms linear, filter 300ms, height 300ms ease, width 300ms ease;
}
nav li:hover {
  cursor: pointer;
  color: var(--a12);
  text-shadow: 0 0 1px black, 0 0 2px black;
  transform-origin: 50% 25%;
  /* animation: flicker 300ms linear forwards; */
  filter: drop-shadow(0 0 0.25vh rgb(247, 255, 128));
  text-shadow: 0 0 1px black, 0 0 2px black;
}
nav li:active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (orientation:landscape) {
  header nav{
      font-size: 120%; 
  }
}

@media (orientation:portrait) {
  header nav{
      font-size: 100%; 
  }
}

@media (max-width: 800px) {
  nav ul {
    flex-flow: column;
    transform-origin: 80% 25%;
  }
}

@media (orientation: landscape) and (height < 600px) {
  nav ul {
    flex-flow: row;
  }
}

@media (pointer: fine) {
  @keyframes flicker_2 {
    0% {
      filter: drop-shadow(0 0 0.25vh var(--s10));
    }
    50% {
      filter: drop-shadow(0 0 0vh rgb(247, 255, 128));
    }
    100% {
      filter: drop-shadow(0 0 0.25vh rgb(247, 255, 128));
      text-shadow: 0px 0px 0.001vh var(--p1);
    }
  }
  @keyframes flicker_3 {
    0% {
    }
    50% {
    }
    100% {
      text-shadow: 0px 0px 0.001vh var(--p1);
    }
  }
}
