@import "../imports";

/* should have just made a component for this but whatever */

// should shrink based on screen width...
// if display is landscape.. push to bottom?
// ez pz

footer {
  display: flex;
  position: relative;
  justify-self: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  filter: drop-shadow(0 0 0.3vmin $s60);
  overflow: hidden;
  padding: 2vh;

  span {
    position: absolute;
    width: fit-content;
    // height: 90%;
    display: inline-block;
    font-size: 80%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    left: 0;
  }
  // box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  
  .links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* max-width: 1000px; ??? */
  }

  #card {
    position: relative;
    fill: $s60;
    height: clamp(45px, 13vmax, 70px);
    width: clamp(45px, 13vmax, 70px);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    will-change: fill, filter, height, width, mix-blend-mode;
    transition: fill 300ms linear, filter 300ms, height 300ms ease,
    width 300ms ease;
    
    // filter: drop-shadow(0px 0px 0.2vh $s50);
    -webkit-filter: drop-shadow(0 0 0.05vh transparent);
    filter: drop-shadow(0px 0px 0.05vh transparent);

    // text-shadow: 0 0 1px black;
    text-shadow: 0 0 1px $p05;

    // - - - - - - -- - - - - - - - - - -
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: $s50;
    background-image: linear-gradient($a45, $a45);
    background-size: 100% 0%;
    background-position: top;
    background-repeat: no-repeat;
    transition: background-size 665ms linear 460ms, filter 1000ms linear 420ms,
      text-shadow 1000ms linear 350ms;
    // - - - - - - -- - - - - - - - - - -

    &:hover {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // fill: $a60;
      transition: mix-blend-mode 1s linear;
      // fill: transparent;
      fill: $a65;

      -webkit-filter: drop-shadow(0 0 0.05vh $s75);
      filter: drop-shadow(0px 0px 0.05vh $s75);
      // text-shadow: 0 0 0.001vh $p05;
      mix-blend-mode: hard-light;

      .email_1 {
        opacity: 0;
        transform: rotate(360deg);
      }
      .email_3 {
        opacity: 1;
        transform: translate(-6px, 4px) rotate(360deg);
      }
    }
    &:active {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }

  .linkedin {
    position: absolute;
    height: 70%;
    width: 70%;
    will-change: fill, height, width;
    // z-index: -5;
    user-select: none;
  }
  /* https://stackoverflow.com/questions/38877174/svg-transition-on-hover-fails-in-safari-9-1-2-11601-7-7 */
  .github {
    position: absolute;
    height: 80%;
    width: 80%;
    will-change: fill, height, width;
  }

  .email_1 {
    position: absolute;
    height: 70%;
    width: 70%;
    opacity: 1;
    will-change: fill, opacity, transform, height, width;
    transition: opacity 600ms ease, transform 1000ms;
  }
  .email_3 {
    position: absolute;
    height: 70%;
    width: 70%;
    opacity: 0;
    will-change: fill, opacity, transform, height, width;
    transition: opacity 600ms ease, transform 1000ms;
  }
  .phone {
    position: absolute;
    height: 75%;
    width: 75%;
    will-change: fill, height, width;
  }
}
@media (orientation: portrait) {
  footer {
    display: absolute;
    bottom: 0;
  }
}
/* and (max-width: 1800px) ??? */
@media (orientation: landscape) and (max-height: 600px) {
  footer {
    display: relative;
  }

  footer #card {
    height: 12vmax;
    width: 12vmax;
    filter: drop-shadow(0px 0px 0.5vh $s50);
  }
}
