@import "../imports";

#Resume {
  opacity: 0;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: opacity 2s ease, background-color 1s ease;
  font-weight: 100;
  border: 3px inset #00000025;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0% 5%; //lowest is 5% highest is 10%
  //lessen padding on smaller displays


  font-size: clamp(13px, 3vw, 18px);

  // - - - - - - - - - - - - - - -

  >div {
    display: flex;
    flex-direction: column;
    padding: 2vmin 0vmin;
    text-align: center;
    // width: 100%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.10);
    // border-left: 1px solid black;
    // border-right: 1px solid black;
  }

  .heading {
    color: $s75;
    font-weight: 500;

    span {
      display: inline-block;

      &::first-letter {
        font-size: 120%;
      }
    }
  }

  .intro {
    text-align: justify;
    // line-height: 120%;
    // font-size: clamp(13px, 3vw, 15px);
  }

  .skills {
    text-align: center;
    // font-size: clamp(13px, 3vw, 15px);
  }

  .tools {
    text-align: center;
    // font-size: clamp(13px, 3vw, 15px);
  }
  
  table {
    display: flex;
    width: 100%;
    margin: 1vh 0vh;
    display: table;
    // WORK ON THIS INDENT .. WTF 

    th {
      display: flex;
      width: 100%;
      color: $s80;
    }

    tr {
      display: flex;
      width: 100%;
      flex-grow: 1;
      justify-content: space-between;

      :first-child:not(th) {
        // background: rgba(70, 131, 180, 0.185);
        text-align: left;
        justify-content: space-between;
        width: fit-content;
        white-space: pre-wrap;
        margin-right: clamp(13px, 3vw, 15px);
      }

      :nth-of-type(2n):not(li) {
        display: flex;
        justify-content: flex-end;
        // background: rgba(180, 70, 70, 0.185);
        white-space: nowrap;
        width: max-content;
        align-content: flex-end;
      }
    }

    ul {
      list-style: none;
    }

  }
  li {
    // line-height: 135%;
    text-indent: clamp(-16px, -3.5vw, -17px);
    padding-left: clamp(-16px, -3.5vw, -17px);
  }
  
  .work-experience {
    tr:first-child {
      color: $s80;
    }
    tbody {
      font-size: 95%;
    }
  }
  
  .education {
    tbody {
      font-size: 95%;
    }
    li {
      // line-height: 135%;
      text-indent: clamp(-16px, -3.5vw, -17px);
      padding-left: clamp(-16px, -3.5vw, -17px);
    }
    .institution {
      font-weight: bold;
    }
    
    .location {
      font-weight: bold;
    }
  }
}