/* should have just made a component for this but whatever */

footer {
  display: flex;
  position: relative;
  justify-self: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100vw;
  max-height: max-content;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  background: var(--p3);
  z-index: 5;
  /* overflow: hidden; */
}

footer .links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* max-width: 1000px; ??? */
}

footer #card {
  position: relative;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: fill, filter, height, width;
  transition: fill 300ms linear, filter 300ms, height 300ms ease, width 300ms ease;
  overflow: hidden;
  
  filter: drop-shadow(0px 0px 0.2vh var(--s10));
  text-shadow: 0 0 1px black;
}

.linkedin {
  position: absolute;
  height: 70%;
  width: 70%;
  will-change: fill, height, width;
  z-index: -5;
  user-select: none;
}
/* https://stackoverflow.com/questions/38877174/svg-transition-on-hover-fails-in-safari-9-1-2-11601-7-7 */
.github {
  position: absolute;
  height: 80%;
  width: 80%;
  will-change: fill, height, width;
}

.email_1 {
  position: absolute;
  height: 70%;
  width: 70%;
  opacity: 1;
  will-change: fill, opacity, transform, height, width;
  transition: opacity 600ms ease, transform 1000ms;
}
.email_3 {
  position: absolute;
  height: 70%;
  width: 70%;
  opacity: 0;
  will-change: fill, opacity, transform, height, width;
  transition: opacity 600ms ease, transform 1000ms;
}
.phone {
  position: absolute;
  height: 75%;
  width: 75%;
  will-change: fill, height, width;
}

#card:hover {
  /* animation: flicker 300ms linear forwards; */
  fill: var(--a12);
  filter: drop-shadow(0 0 0.5vh rgb(247, 255, 128))
  drop-shadow(0 0 0.001vh black)
  drop-shadow(0 0 0.01vh black)
}
#card:active{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
#card:hover .email_1 {
  opacity: 0;
  transform: rotate(360deg);
}
#card:hover .email_3 {
  opacity: 1;
  transform: translate(-6px, 4px) rotate(360deg);
}
#card:hover::after {
  display: inline;
}

@media (orientation: portrait) {
  footer {
    display: absolute;
    bottom: 0;
  }
}
/* and (max-width: 1800px) ??? */
@media (orientation: landscape) and (height < 600px) {
  footer {
    height: 13vmin;
  }
  footer #card {
    height: 12vmin;
    width: 12vmin;
  }
}