// @charset "utf-8";

@font-face {
  font-family: "FiraCode";
  // src: url("/src/assets/fonts/FiraCode-VariableFont_wght.ttf");
  src: url("../src/assets/fonts/FiraCode-VariableFont_wght.ttf") format('truetype');
}
.firacode {
  font-family: "FiraCode";
}

@font-face {
  font-family: "Goldman-Regular";
  src: url("../src/assets/fonts/Goldman-Regular.ttf") format('truetype');
}
.goldman {
  font-family: "Goldman-Regular";
}

:root {
  /*- - - - primary - - - -*/
  --p1: hsl(0, 0%, 5%);
  --p2: hsl(0, 0%, 10%);
  --p3: hsl(0, 0%, 15%);
  --p4: hsl(0, 0%, 20%);
  --p5: hsl(0, 0%, 25%);
  --p6: hsl(0, 0%, 30%);
  --p7: hsl(0, 0%, 35%);
  --p8: hsl(0, 0%, 40%);
  --p9: hsl(0, 0%, 45%);
  --p10: hsl(0, 0%, 50%); /*🔆*/
  --p11: hsl(0, 0%, 55%);
  --p12: hsl(0, 0%, 60%);
  --p13: hsl(0, 0%, 65%);
  --p14: hsl(0, 0%, 70%);
  --p15: hsl(0, 0%, 75%);
  --p16: hsl(0, 0%, 80%);
  --p17: hsl(0, 0%, 85%);
  --p18: hsl(0, 0%, 90%);
  --p19: hsl(0, 0%, 95%);
  /*- - - - secondary - - - -*/
  --s1: hsl(30, 100%, 5%);
  --s2: hsl(30, 100%, 10%);
  --s3: hsl(30, 100%, 15%);
  --s4: hsl(30, 100%, 20%);
  --s5: hsl(30, 100%, 25%);
  --s6: hsl(30, 100%, 30%);
  --s7: hsl(30, 100%, 35%);
  --s8: hsl(30, 100%, 40%);
  --s9: hsl(30, 100%, 45%);
  --s10: hsl(30, 100%, 50%); /*🔆*/
  --s11: hsl(30, 100%, 55%);
  --s12: hsl(30, 100%, 60%);
  --s13: hsl(30, 100%, 65%);
  --s14: hsl(30, 100%, 70%);
  --s15: hsl(30, 100%, 75%);
  --s16: hsl(30, 100%, 80%);
  --s17: hsl(30, 100%, 85%);
  --s18: hsl(30, 100%, 90%);
  --s19: hsl(30, 100%, 95%);
  /*- - - - - accent - - - - -*/
  --a1: hsl(75, 100%, 5%);
  --a2: hsl(75, 100%, 10%);
  --a3: hsl(75, 100%, 15%);
  --a4: hsl(75, 100%, 20%);
  --a5: hsl(75, 100%, 25%);
  --a6: hsl(75, 100%, 30%);
  --a7: hsl(75, 100%, 35%);
  --a8: hsl(75, 100%, 40%);
  --a9: hsl(75, 100%, 45%);
  --a10: hsl(75, 100%, 50%);
  --a11: hsl(75, 100%, 55%);
  --a12: hsl(75, 100%, 60%); /*🔆*/
  --a13: hsl(75, 100%, 65%);
  --a14: hsl(75, 100%, 70%);
  --a15: hsl(75, 100%, 75%);
  --a16: hsl(75, 100%, 80%);
  --a17: hsl(75, 100%, 85%);
  --a18: hsl(75, 100%, 90%);
  --a19: hsl(75, 100%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
}

#root,
#App {
  height: 100%;
}

body {
  font-weight: 600;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: var(--p2);
}
#App {
  display: flex;
  flex-flow: column;
  overflow: visible;
}
main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Cheap way to make room for scrolling header */
  height: 100%;
  transition: background 1s ease;
  letter-spacing: 0.1;
  z-index: 1;
  overflow-y: visible;
  overflow-x: hidden;
  scrollbar-width: 0;
  scroll-margin: 0;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
main::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

::selection {
  background: rgba(255, 156, 57, 0.5);
  opacity: 0.5;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.cover-photo {
  position: relative;
  max-width: 100%;
  min-width: 110px;
  object-fit: cover;
  margin-top: 0%;
  margin-bottom: 0;
  opacity: 50%;
}

@media (pointer: fine) {
  @keyframes flicker {
    0% {
      filter: drop-shadow(0 0 0.25vh var(--s10));
    }
    50% {
      filter: drop-shadow(0 0 0.0vh rgb(247, 255, 128));
    }
    100% {
      filter: drop-shadow(0 0 1vh rgb(247, 255, 128));
    }
  }
}