:root {
  --primary: #000000;
  --secondary: #000000;
  --accent: #000000;
  /* - - - - - - - - - - - - - */
  --main_text: #000000;
  --header_text: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
}
#App {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  /* flex-direction: column; */
  /* justify-content: center; */
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  width: 100vw;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(51, 185, 185, 0.2);
}
#header-title{
  align-self: center;
  justify-self: center;
}
main {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100vw;
  height: 100%;
  background: linear-gradient(rgba(51, 185, 185, 0.2) 0%, white 5%);
}

footer {
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  /* height: fit-content; */
  width: 100vw;
  background-color: rgba(0, 26, 255, 0.25);
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}
a {
  color: var(--main_text);
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}
a:hover {
  text-decoration: underline;
  color: var(--main_text)
}
span:hover {
  color: var(--main_text)
}

header {
  background: var(--header_text);
  height: fit-content;
}

a {
  position: relative;
  border-radius: 5px;
  color: var(--main_text);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
  width: 20%;
}

header a {
  color: var(--header_text);
  padding: 0;
  border: 0;
  margin: 0;
}

header a:hover {
  text-decoration: none;
  color: var(--paccent);
  color: white;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}
button {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}
button:hover {
  opacity: 0.8;
}
button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}
span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--secondary);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
} */

.cover-photo {
  position: relative;
  max-width: 100%;
  min-width: 110px;
  object-fit: cover;
  margin-top: 0%;
  margin-bottom: 0;
  opacity: 50%;
}