#Nav {
  display: flex;
  width: fit-content;
}

#Nav ul {
  position: relative;
  width: fit-content;
  margin: 0;
  padding: .5rem 1.75rem;
}

#Nav li {
  list-style-type: none;
  border-right: 2px solid rgba(0, 0, 0, 0.342);
  padding-right: 1.5rem;
}

#Nav li:hover {
  cursor: pointer;
  list-style-type: disc;
  animation: glow 1s ease infinite alternate;
}

@keyframes glow{
  0%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 1px #c4ff4c);
    text-shadow: 0 0 1px rgb(196, 255, 76);
  }
  10%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 2px #c4ff4c);
    text-shadow: 0 0 2px rgb(196, 255, 76);
  }
  20%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 3px #c4ff4c);
    text-shadow: 0 0 3px rgb(196, 255, 76);
  }
  30%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 4px #c4ff4c);
    text-shadow: 0 0 4px rgb(196, 255, 76);
  }
  40%{color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 5px #c4ff4c);
    text-shadow: 0 0 5px rgb(196, 255, 76);
  }
  50%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 6px #c4ff4c);
    text-shadow: 0 0 6px rgb(196, 255, 76);
  }
  60%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 7px #c4ff4c);
    text-shadow: 0 0 7px rgb(196, 255, 76);
  }
  70%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 8px #c4ff4c);
    text-shadow: 0 0 8px rgb(196, 255, 76);
  }
  80%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 9px #c4ff4c);
    text-shadow: 0 0 9px rgb(196, 255, 76);
  }
  90%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 10px #c4ff4c);
    text-shadow: 0 0 10px rgb(196, 255, 76);
  }
  100%{
    color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 11px #c4ff4c);
    text-shadow: 0 0 11px rgb(196, 255, 76);
  }
}